
<nav class="navbar navbar-dark bg-inverse" >


	<span 
		class="fa fa-bars fa-2x hidden-md-up pull-xs-left bg-inverse" 
		style="color:white; border:none; margin-right: 10px"
		(click)="toggleMenu()"
	></span>

	<a class="navbar-brand" href="#">DaveByDesign</a>

	<form 
		class="form-inline" 
		style="position: fixed; right: 10px; top: 7px; margin-left:0px"
		[ngClass]="{ 'hidden-sm-down': HideSearchInput }"
		(ngSubmit)="onSearchSubmit(form.value)"
	>
			<input class="form-control" type="text" placeholder="Search" [(ngModel)] = "SearchInputText">
			<button class="btn  btn-primary " type="submit" (click)="HideSearchInput = true">Search</button>
	</form> 


	<span 
		class="fa fa-search fa-2x  pull-xs-right bg-inverse hidden-md-up" 
		style="color:white; border:none"
		(click)="HideSearchInput = false"
	></span>

		<ul class="nav navbar-nav " [ngClass]="{ 'hidden-sm-down': HideExpandedNavBar }">
			<li class="nav-item active">
	  			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
	  			<a class="nav-link" href="#">Coding</a>
			</li>
			<li class="nav-item">
	  			<a class="nav-link" href="#">Music</a>
			</li>
			<li class="nav-item">
	  			<a class="nav-link" href="#">Art</a>
			</li>
			<li class="nav-item">
	  			<a class="nav-link" href="#">Writing</a>
			</li>
			<li class="nav-item">
	  			<a class="nav-link" href="#">Blog</a>
			</li>
			<li class="nav-item"  (mouseout)="closeMenu()">
	  			<a class="nav-link" href="#">Pez</a>
			</li>
		</ul>

</nav>